{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}



<div class="clock col-center"></div>


<div id="articles">

    {% for post in posts %}
    {% for p in post %}
    <article-holder>
	    <post id="{{p[0]}}">
	        <votes>{{p[4]}}</votes>
	        <upvote>▲</upvote>
	        <a href=""><post-title>{{p[3]}}</post-title></a>
	    </post>
		<sub-post class="sub-post-min">
		    <iframe class="hidden-frame" hidden-src="{{p[2]}}"></iframe>
		    <p>+ Open the article inline</p>
	    </sub-post>

    </article-holder>
    {% endfor %}
    {% endfor %}
</div>


{% endblock %}


