{% extends 'layouts/main.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="center-container" style="margin-top:100px;">
	<h3>Total Fund: <span class="money">$1,581</span>/month</h3>
<h4>Your Contribution: <span class="money">$20</span>/month</h4>
</div>

<div id="myDiv" style="width: 970px; height: 400px;padding-left:100px;"><!-- Plotly chart will be drawn inside this DIV --></div>
<div id="my-graph" style="width: 970px; height: 400px;padding-left:100px;"><!-- Plotly chart will be drawn inside this DIV --></div>


{% endblock %}
