{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}



<div class="clock col-center"></div>

<div class="loader"></div>
<div id="articles">

    {% for post in posts %}
    {% for p in post %}
    <article-holder>
	    <post id="{{p[0]}}">
	        <votes>{{p[4]}}</votes>
	        <upvote>▲</upvote>
	        <a href=""><post-title>{{p[3]}}</post-title></a>
            <div class=" right-right">
                <div class="fb-share-button" data-href="{{p[2]}}" data-layout="button_count" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
            </div>
	    </post>
		<sub-post class="sub-post-min">
		    <iframe class="hidden-frame" hidden-src="{{p[2]}}"></iframe>
		    <p style="font-size: 1em">+ Look closely <span id="emoticon" ><i class='em em-mag_right'></i> </span></p>
	    </sub-post>

    </article-holder>
    {% endfor %}
    {% endfor %}
</div>


{% endblock %}


