
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}
/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/
.center-container {
	text-align: center;
}
.col-center {
	display: block;
	margin-top: 30px;
	margin-left: 300px;
}

.flip-clock-label {
	font-weight: bold;
	font-size: 15px;
	font-family: sans-serif;
}
/* Various other styles end */
